body {
    text-align: center;
    font-family:  Arial;
    color: #000;
    font-size: 16px;
    background: url("../img/body-bg.png") top center;
    background-color: #f3f3f3;
}


img {border: 0px;}

a {text-decoration: none;}


/* HEADER */
.header {
	width: 100%;
	height: 437px;
	position: relative;
	z-index: 5;
    background: url("../img/header-bg.png") repeat-x;
}

/* HEADER-CONTENT */
.header-content {
	width: 990px;
    margin: 0 auto;
    /*overflow: hidden;*/
    border-top: 11px solid #3282ab;
    text-align: left;
}

.header-contact {
	height: 182px !important;
}

.logo {
    float: left;
    width: 700px;
    height: 115px;
    margin-top: 17px;
    color: #fff;
}

.logo a {
	float: left;
	margin-right: 10px;
}

.logo h2 {
	width: 591px;
	float: left;
	font-family: "Segoe UI";
	font-size: 2em;
}

.logo h3 {
	width: 591px;
	float: left;
	font-family: Calibri;
	font-size: 1.531em;
}

/* LANG-SEARCH */
.lang-search {
	float: right;
	width: 270px;
	height: 121px;
	padding-left: 20px;
}

/* LANG */
.lang {
	float: right;
	width: 258px;
	margin-bottom: 18px;
	margin-top: 37px;
}

.lang a {
	float: left;
	height: 18px;
	display: block;
	padding: 0 5px;
	font-family: Tahoma;
	font-size: 0.7em;
	color: #fff;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.lang a:hover, .lang a.active {
	color: #4c819c;
	background: #f3f3f3;
}


/* SEARCH */

.search {
    float: right;
    width: 270px;
    height: 42px;
}

.search form, .search div {float: right;}

.search .search-text {
    float: left;
    width: 199px;
    height: 27px;
    padding-left: 7px;
    font-size: 0.8em;
    color: #777373;
    line-height: 27px;
    border: 1px solid #406f85;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:    inset -1px 2px 2px #cacaca;
   	-webkit-box-shadow: inset -1px 2px 2px #cacaca;
   	box-shadow:         inset -1px 2px 2px #cacaca;
}

.search .submit {
    float: left;
    height: 27px;
    width: 48px;
	padding: 1px 7px;
	margin-left: 3px;
    cursor: pointer;
    font-size: 0.7em;
    font-family: Tahoma;
    font-weight: bold;
    border: 0px;
    background: url("../img/search-bg.png") repeat-x left center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:    0px 2px 10px #979494;
  	-webkit-box-shadow: 0px 2px 10px #979494;
  	box-shadow:         0px 2px 10px #979494;
}


/* TOP-MENU */
.top-menu {
    float: left;
    height: 39px;
    width: 982px;
    margin-bottom: 20px;
    padding-left: 8px;
    text-align: left;
    background: #3f3f3f;
    position: relative;
}

.top-menu li {
    float: left;
    padding: 0 7px;
	background: url("../img/top-li-bg.png") no-repeat center right;
}

li.last-li {background: none;}

.top-menu li a {
	display: block;
    height: 39px;
    padding: 0 3px;
    line-height: 39px;
    color: #fff;
    font-size: 0.95em;
    font-family: Calibri;
    text-transform: uppercase;
}

.top-menu li a:hover, .top-menu li.sub-li:hover a {
    
}

.top-menu .sub-menu {
	width: 159px;
	display: none;
	position: absolute;
	left: 0px;
	top: 39px;
	z-index: 999;
	background: #3f3f3f;
}

.sub-li {
	position: relative;
}


.sub-li:hover .sub-menu {
	display: block;
}

.top-menu ul li {
	width: 100%;
	height: 25px;
	padding: 0px;
	border-top: 1px dotted #7e746d;
	background: none;
}

.top-menu ul li:hover {
	background: #707070;
}

.top-menu ul li a {
	display: block;
	height: 24px;
	margin-left: 6px;
	text-transform: none;
	font-size: 0.75em;
	font-family: Arial;
	line-height: 24px;
}

/* TOP-MENU END */


.header-image {
	margin: 0 auto;
	overflow: hidden;
	width: 990px;
	height: 230px;
	position: relative;
	z-index: 990;
}

.header-image-text {
	position: absolute;
	width: 383px;
	height: 74px;
	padding: 18px 25px 18px 36px;
	left: 0;
	bottom: 46px;
	background: url("../img/cover.png");
}

.header-image-text h2 {
	font-size: 1.4em;
	font-family: "Segoe UI";
	line-height: 22px;
}

.header-image-text h3 {
	font-size: 0.8em;
	font-weight: bold;
	font-family: "Segoe UI bold";
	line-height: 34px;
}

.header-image img {
	width: 990px;
	height: 230px;
}

/* BODDY */
.body {
    margin: -5px auto 28px;
    padding-top: 30px;
    width: 990px;
    text-align: left;
    background: #fff;
}

.content {
    float: left;
    width: 660px;
    padding: 0px;
}

.content ul, .content-block-text ul, .content-block-full ul {
	list-style-type: disc;
}

.content-header {
	width: 623px;
	padding: 0 15px 0 22px;
	margin-bottom: 4px;
	background: #12436d;
	height: 35px;
	color: #fff;
	line-height: 35px;
}

.content-header h1 {
	float: left;
	font-size: 1.2em;
}

.content-header a {
	float: right;
	color: #fff;
	font-size: 0.8em; 
}

.content-header a:hover {text-decoration: underline;}

.inside-content {
	width: 632px;
	float: left;
    padding: 0px;
}

.inside-content-block {
	width: 598px;
	padding: 0 17px 15px;
	float: left;
	margin-bottom: 10px;
	background-color: #fff;
}

.content-block {
	width: 640px;
	margin-left: 20px;
	padding: 20px 0 10px 0;
	float: left;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.content-block-img {
	float: left;
	margin-right: 20px;
}

.content-block-text {
	float: left;
	width: 420px;
	margin: 0px;
}

.content-header-navigation {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	color: #939393;
	font-size: 1.3em;
}

.content-header-navigation a {
	color: #12436d;
}

.content-block-full {
	padding-bottom: 50px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
}

.social {
	float: right;
	margin-right: 150px;
}

.addthis_toolbox {
	margin: 0 auto;
	width: 365px;
}

.content-block-full h4 {
	padding-bottom: 20px;
	font-size: 1.5em;
	font-family: "Palatino Linotype";
	line-height: 28px;
}

.content-block-full img {
	float: left;
	margin: 0 15px 1px 0;
}

.content-block-full p {
	font-size: 0.75em;
	color: #555;
}


.content-block h4, .inside-content-block h4 {
	
}

.content-block h4 a, .inside-content-block h4 a {
	color: #12436d;
	font-size: 1.25em;
	font-family: "Palatino Linotype";
}

.content-block h4 a:hover, .inside-content-block h4 a:hover {
	text-decoration: underline;
}

.content-block p, .inside-content-block p  {
	color: #555;
	font-size: 0.75em;
	padding: 15px 0 0px;
}

.content-block p img, .inside-content-block p img {
	padding-bottom: 1px;
	margin: 10px 0 10px;	
}

.contact {
	
}

.contact h5 {
	padding-bottom: 15px;
	color: #12436d;
	font-size: 1.125em;
}

.contact-header {
	margin: 0 20px;
}

.contact-header .social {
	margin-right: 0px;
}

.contact-form {
	width: 422px;
	float: left;
	padding-left: 38px;
	margin-bottom: 30px;
}

.contact-form form p {
	float: left;
	width: 420px;
	margin-bottom: 7px;
}

.contact-form form span {
	width: 87px;
	float: left;
	font-size: 0.75em;
}

.contact-form input, .contact-form textarea {
	border: 1px solid #ccc;
	color: #555;
	font-size: 0.75em;
	padding: 0 4px;
}

.contact-form .text {
	height: 25px;
	line-height: 25px;
}

.contact-form .textarea {
	width: 322px;
	float: left;
	min-height: 156px;
	resize: initial;
}

.contact-form .actions {
	float: left;
	height: 35px;
	margin-left: 87px;
}

.contact-form .actions .sent-mail-blue, .contact-form .actions .sent-mail-red {
	float: left;
	width: 55px;
	height: 30px;
	padding: 0 7px;
	line-height: 31px;
	font-family: Tahoma;
	font-size: 0.8em;
	color: #f2f2f2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0px;
	cursor: pointer;
}


.contact-form .actions .sent-mail-blue {
	background: url("../img/send-blue.png") repeat-x;
	
}

.contact-form .actions .sent-mail-red {
	background: url("../img/send-red.png") repeat-x;
	margin-left: 30px;
}

.contact-info {
	float: left;
	width: 391px;
	margin-left: 98px;
	margin-top: 20px;
}

.contact-info p {
	font-size: 0.75em;
	color: #555;
}

.contact-info p a {
	color: #325c80;
}

.contact-info p a:hover {text-decoration: underline;}

.contact-map {
	float: left;
	position: relative;
}

.short-news-date {
	font-weight: bold;
	font-size: 0.95em;
	font-family: Tahoma;
	color: #000;
}

.middle-left {
	float: left;
	width: 208px;
    margin-left: 30px;
    margin-right: 50px;
}

.middle-right {
    float: left;
    width: 300px;
    margin-left: 30px;
}

.innov-enent, .usefull-links {
	float: left;
	width: 100%;
	padding-bottom: 54px;
}

.innov-enent-title, .usefull-links-title {
	padding-left: 12px;
	background: #12436d;
	height: 35px;
	color: #fff;
	line-height: 35px;
	font-size: 1.2em;
	margin-bottom: 23px;
}

.usefull-links-title {margin-bottom: 0px;}

.usefull-links ul {
	
}

.usefull-links ul li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}

.usefull-links ul li a {
	color: #12436d;
	font-size: 0.75em;
	padding-left: 10px;
	margin-left: 10px;
	background: url("../img/links-li-bg.png") no-repeat left 5px;
}

.usefull-links ul li a:hover {text-decoration: underline;}

/* FOOTER */
.footer {
    width: 960px;
    height: 34px;
    padding: 0px 15px;
    border-bottom: 5px solid #3282ab;
    border-top: 1px solid #ccc;
	line-height: 34px;
}

.footer span {
	float: left;
	color: #101010;
	font-size: 0.75em;
}

.footer p {
	float: right;
	font-size: 0.75em;
	color: #000;
}

.footer a {
	color: #12436d;
}

